<h2>List of restaurants</h2>

   {{#each restaurants}}
    <h3> <a href="/restaurant/{{this._id}}"> {{ this.name }} </a></h3> 
    <p>- Cuisine {{this.cuisine}}</p>
    <p>- posted by {{ this.owner.name }}</p>
    <p>- Rating: {{ reviews.stars }}</p>

    <img src="{{this.imageUrl}}" alt="" width="300">
    {{#if this.isOwner}}
      <form action="/restaurant/{{this._id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
    {{/if}}
  {{/each}}


<a href="/">Back to homepage</a>