<div class="container">
  <div class="row d-flex flex-column">
      <div class="col my-4">
        <h1>{{ restaurant.name }}</h1>
        <p style="font-size:20px;">This restaurant was posted by: <b> {{ restaurant.owner.name }} </b></p>
        
        <hr>

        <div class="row mt-5">
          <div class="col ">
            <h3 style="font-weight:bolder;">Cuisine:</h3>
            <h5> {{ restaurant.cuisine }}</h5>
          </div>
        </div>
        
        <hr>
        
<div class="row my-5">
          <div class="col d-flex flex-column align-items-center justify-content-center">
            <h3>Gallery</h3>
            <img src="{{restaurant.imageUrl}}" alt="" width="300" class="my-5">
          </div>

        {{#if isOwner}}
      </div>
      <hr>

  </div>

 <div class="row">
      <div class="col">
        <form action="/restaurant/edit/{{restaurant._id}}/" method="post" id="edit-form" enctype="multipart/form-data"> 
         
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col col-md-4 d-flex flex-column">
            <label style="font-weight:bolder;" for="">Name</label>
            <input style="font-weight:bolder; color:black;" type="text" name="name" id="" value="{{restaurant.name}}" required>

            <label style="font-weight:bolder;" for="">Cuisine</label>
            <input style="font-weight:bolder; color:black;" type="text" name="cuisine" id="" value="{{restaurant.cuisine}}" required>
          </div>

          <div class="col d-flex">

            <div class="col d-flex flex-column m-3 m-md-5" >
              <label style="margin-left:35px;" for="">Upload new image</label>
              <input style="margin-left:35px;" type="file" name="imageUrl" id="" value="{{restaurant.imageUrl}}" required> 
            </div>

          </div>
        </div>
        <br/>
          
      
      <div class="row">
        
        <div class="col-7 d-flex justify-content-between">
          <button style="font-weight:bolder; color:black;" type="submit">Save changes</button>
        </form>
        
          <form action="/restaurant/delete/{{restaurant._id}}" method="post">
            <button style="font-weight:bolder; color:black; margin-right:-55px;" type="submit">Delete this restaurant</button>
          </form>
        </div>
      </div>
      
      </div>
{{/if}}
  
   <div class="row mt-4">
      <div class="col pb-0">
        
        <hr>

        {{!-- if there are reviews, show them, if not, forget about it 🙃 --}}
        {{#if updatedReviews}}
        <h3>Reviews</h3>
        {{#each updatedReviews}}
        <p> <b>{{ this.user.name }} said: </b> {{ this.comment }}  </p>
        <p style="font-size:0.7rem;"> Rating: {{this.stars}}</p>
        {{#if canBeChanged}}
        <a class="nav-link p-0" style="color:white; font-size:0.8rem;" href="/review/edit/{{this._id}}">Edit</a>
        <form action="/review/delete/{{this._id}}" method="POST">
        <button class="btn btn-dark p-0" style="font-size:0.8rem;" type="submit"> Delete </button>
        </form>
        <hr>
      {{/if}}
  
  {{/each}}
{{/if}}
      </div>
    </div>

        {{!-- USER CAN NOT LEAVE REVIEWS ON THEIR OWN PROPERTIES --}}
        {{!-- this means that only if the user IS NOT the owner, this form will be shown --}}
 {{#if isNotOwner}}

<div class="container">

  <div class="row">
    <div class="col-12 text-center">
      <h2 data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse" >Add a review</h2>
    </div>
  </div>

  <div class="row collapse" id="collapse">

    <div class="col-12 col-md-10">
      <form action="/review/create/{{restaurant._id}}" method="POST">
        <textarea name="comment" id="" maxlength="250" class="form-control h-25 mb-3 " ></textarea>
    </div>



    <div class="col-12 col-md-3 d-flex align-items-center justify-content-center ">

      <select style="color:black" name="stars" id="stars" required>
        <option style="color:black" value="" selected disabled hidden>Rating</option>
        <option style="color:black" value="1">1</option>
        <option style="color:black" value="2">2</option>
        <option style="color:black" value="3">3</option>  
        <option style="color:black" value="4">4</option>
        <option style="color:black" value="5">5</option>
      </select>

    </div>

    <div class="row">
      <div class="col col-md-3 d-flex justify-content-center  p-0">
        <button class="btn btn-dark text-uppercase ml-5" type="submit">Add</button>
      </div>
    </div>
      
      </form>
      {{/if}}
      
  </div>

</div>

</div>



<style>
  *{
    color:white;
  }
</style>

