<h2>Review details</h2>

<h4>User:{{reviews.name}}</h4><hr />
<p>Comment:{{reviews.comment}}</p><hr />
<p>Stars:{{reviews.stars}}</p><hr />

<a href="/review/{{reviews._id}}/edit">Edit!</a>
<a href="/review/{{reviews._id}}/delete">Delete!</a>

